<div class="backdrop">
  <div id="main" class="container"></div>
</div>
<script>
  $(Dianthus.initialize);
  Dianthus.currentUser = new Dianthus.Models.User( {
                               id: <%= current_user.id %>
                             });
  Dianthus.currentUser.fetch();
</script>
