<select class="scale-degree form-control">
  <% _(Dianthus.ChordSymbols[mode]).each(function(symbol, index) { %>
    <option value="<%= index %>"
            <% if (measure.get('scale_degree') === index) { %>
            selected
            <% } %>>
      <%= symbol %>
    </option>  
  <% }) %>
</select>

<ol class="measure-loops-list"></ol>