<div class="panel panel-default">
  <div class="panel-heading">
    <img class="gravatar" src="<%= author.escape('gravatar_url') %>">
    <h3 class="panel-title">
      <%= author.handle() %>'s loops
    </h3>
  </div>
  <ul class="loops-list"></ul>
</div>