<div class="form-group">
  <label class="control-label hidden-xs hidden-sm hidden-md">
    on the
  </label>
  <select id="instrument" name="instrument" class="form-control">
    <option value="0">Acoustic Grand Piano</option>
    <option value="118">Synth Drums</option>
  </select>
</div>