<button type="button"
        class="btn btn-default destroy"
        style="background-color: <%= loop.escape('color') %>">
  <span class="glyphicon glyphicon-trash"></span>
</button>
<div class="btn btn-default loop-title"
     style="background-color: <%= loop.escape('color') %>">
  <%= loop.escape('title') %>
</div>
<button type="button"
        class="btn btn-default edit"
        style="background-color: <%= loop.escape('color') %>">
  <span class="glyphicon glyphicon-pencil"></span>
</button>
