/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *  require jquery.ui.all
 *  require_tree .
 */

/* TODO: Inherit from theme and transparentize only in the grid view ? */

/*$btn-default-bg: rgba(255, 255, 255, 0.5);
$input-bg: rgba(255, 255, 255, 0.5);*/

@import "darkly";

@import "bootstrap";
@import "font-awesome";

input::-webkit-color-swatch-wrapper { padding: 0; }

input::-webkit-color-swatch { border-radius: $border-radius-base; }
input::-moz-color-swatch { border-radius: $border-radius-base; }

input[type="color"] {
  min-width: 43px !important;
  padding: 5px 5px !important;
}

#submit {
  /* c.f. component-animations.less line 12 */
  transition: background 150ms linear;
  transition: color 40ms linear;
}

select.form-control { 
  border:0; 
  color: $btn-default-color; 
  background-color: $btn-default-bg;
}


html,
body,
#Dianthus-Routers-SwapView-Target,
#Dianthus-Views-LoopComposeForm-Container,
#Dianthus-Views-LoopComposeForm,
#Dianthus-Views-VerseForm {
  height: 100%;
}

#Dianthus-Views-LoopComposeForm {
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  -webkit-flex-direction: column;
}

#Dianthus-Views-LoopCompose-Target, #Dianthus-Views-VerseForm {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#Dianthus-Views-LoopCompose-Target {
  -webkit-flex-grow: 1;
  flex-grow: 1;

  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  border-left: $grid-gutter-width/2 solid $body-bg;
  border-right: $grid-gutter-width/2 solid $body-bg;
}

#Dianthus-Views-LoopCompose,
.time-slice {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#Dianthus-Views-LoopCompose {
  display: -webkit-flex;
  display: flex;
  background-color: transparent;
}

.time-slice {
  background-color: $body-bg;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-flex-grow: 1;
  flex-grow: 1;

  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;

  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes time-slice-highlight {
  0%   { background-color: $body-bg; }
  20%  { background-color: transparent; }
  100% { background-color: $body-bg; }
}

@keyframes time-slice-highlight {
  0%   { background-color: $body-bg; }
  20%  { background-color: transparent; }
  100% { background-color: $body-bg; }
}

.note {
  width: 100%;
  padding: 2px;
  background-clip: content-box;
  background-color: $gray;
  border-radius: $border-radius-base * 2;
}

.note:first-child {
  margin-top: $panel-body-padding;
}

.note:last-child {
  margin-bottom: $panel-body-padding;
}

@media screen and (max-width: 767px) {
  .note {
    padding: 1px;
    border-radius: $border-radius-small * 2;
  }
}

.note-do, .note-so {
  -webkit-flex-grow: 1.618;
  flex-grow: 1.618;
}
.note-mi, .note-ti {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.note-re, .note-fa, .note-la {
  -webkit-flex-grow: 0.618;
  flex-grow: 0.618;
}
[data-velocity="127"] {
  background-color: $gray-lighter;
}
[data-continued="true"] {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[data-continues="true"] {
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#Dianthus-Views-LoopComposeForm {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    background-color: transparent;
  }

  .navbar-form {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-form > * {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .navbar-form { /* navbar-left is useless */
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
    width: auto;
  }

  .navbar-right {
    float: right; /* even on small devices */
  }

  .form-group {
    margin-bottom: 0;
  }

}

#Dianthus-Views-LoopComposeForm-Options {
  border-top: none;
}

#Dianthus-Views-LoopComposeForm-Submit {
  border-bottom: none;

  .alert {
    margin: 0;
    padding: 0;
    border: none;
  }

  .alert > .form-group {
    display: inline-block;
  }

  .alert-message {
    display: none;
    padding-left: $alert-padding;
    padding-right: $alert-padding;
  }

}

#mode-select {
  display: none;
}

#play-pause #pause {
  display: none;
}

#play-pause.active #pause {
  display: inline;
}

#play-pause.active #play {
  display: none;
}

input:checked {
  height: 500px !important;
  display: none;
}

@media screen and (max-width: 640px) {
  #mode-radio {
    display: none;
  }
  #mode-select {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  /* copied straight out of the bootstrap source, horribly, because
     SASS won't let us @extend inside an @media query
     c.f. http://www.sitepoint.com/cross-media-query-extend-sass/ */
  /* assets/stylesheets/bootstrap/_buttons.scss line 130 */
  .btn {
    @include button-size($padding-small-vertical,
                         $padding-small-horizontal,
                         $font-size-small,
                         $line-height-small,
                         $border-radius-small);
  }
  /* unpacked because I do not grok the crazy LESS -> SASS
     converter hack this is built on top of.
     c.f. assets/stylesheets/bootstrap/_forms.scss line 311
     c.f. assets/stylesheets/bootstrap/mixins/_forms.scss line 66
     c.f. tasks/converter/less_conversion.rb line 321 */
  .form-control {
    height: $input-height-small;
    padding: $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-small;
    line-height: $line-height-small;
    border-radius: $border-radius-small;
  }
  select.form-control {
    line-height: $input-height-small;
  }
  textarea.form-control {
    height: auto;
  }

  input::-webkit-color-swatch { border-radius: $border-radius-small; }
  input::-moz-color-swatch { border-radius: $border-radius-small; }

  input[type="color"] {
    min-width: 33px !important;
  }

}

@media screen and (min-width: 481px) {
  #Dianthus-Views-LoopComposeForm-Submit .alert-danger > .alert-message {
    display: inline;
  }
}

.loops-list, #measures-list, .measure-loops-list, #users-list {
  list-style: none;
  padding-left: 0;
}

.loops-list {
  position: relative; /* allow the ui-draggable proxy to inherit our width */
}

#measures-list {
  -webkit-flex-grow: 4;
  flex-grow: 4;

  -webkit-flex-basis: 0;
  flex-basis: 0;

  margin-right: $grid-gutter-width/2;
}

select.scale-degree {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.measure-loops-list {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.loop, .measure-loop, .measure-loop-placeholder {
  display: -webkit-flex;
  display: flex;
  margin: $padding-base-vertical*2 0;
  width: 100%; /* unnecessary but harmless for flexbox; but helps our
                  ui-draggable proxy maintain a consistent look and feel */
}

.measure-loop-placeholder {
  border: 3px dashed #999;
  height: $input-height-base;
  border-radius: $border-radius-base;  
}

@media screen and (max-width: 480px) {
  .loop, .measure-loop, .measure-loop-placeholder {
    margin: $padding-small-vertical*2 0;
  }

  .measure-loop-placeholder {
    border-width: 2px;
    height: $input-height-small;
    border-radius: $border-radius-small;
  }
}

.loop, .measure-loop > * {
  flex-shrink: 0;
}

.loop-title, .measure-loop-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: inherit !important;
}

.loop-title {
  cursor: default;
}

.measure-loop-title {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.ui-draggable-dragging .loop-title,
.ui-sortable-helper .measure-loop-title {
  cursor: inherit !important;
}

/* .measure-loop-title is a div.btn.btn-default whose click behaviors
   we override to create a large, not-clicky drag target */
.loop-title:active, .measure-loop-title:active,
.loop-title:hover,  .measure-loop-title:hover,
.loop-title:focus,  .measure-loop-title:focus {
  border-color: $btn-default-border;
  box-shadow: none;
}

.measure-loop .dropdown-menu {
  left: auto;
  right: 0;
}

.measure-loop .dropdown-menu a:hover {
  background-color: rgba(127, 127, 127, 0.5); /* brittle - will fail on
                                                 gray menus */
}


#measures-list, Dianthus-Views-LoopCompose-Target {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
}

.measure {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  margin-left: $grid-gutter-width/2;
}

#measures-list > li:last-child {
  margin-right: 0;
}







#Dianthus-Views-VerseForm {
  display: -webkit-flex;
  display: flex;
}

#users-list {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;

  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/

  margin-bottom: 0;
}

.loop-index .panel-heading {
  border: none;    /* visual clutter */
  padding-top: 15px;
  padding-bottom: 0;
  /*height: $input-height-base*2 + $padding-base-vertical*2;*/
  /*position: relative;*/
  /*padding-bottom: 0;*/
}

.panel {
  border: none;
}

.loop-index {
  margin-left: $grid-gutter-width/2;
}


@media screen and (max-width: 480px) {
  .loop-index .panel-heading {
    /*height: $input-height-small*2 + $padding-small-vertical*2;*/
    border-radius: $border-radius-small;
  }
  .gravatar {
    border-radius: $border-radius-small;
  }
}

.gravatar {
  border-radius: $border-radius-base;
}

.loop-index .gravatar {
  width: 100%;
  margin-bottom: $padding-base-vertical*2 0;
}

@media screen and (max-width: 480px) {
  .loop-index .gravatar {
    margin-bottom: $padding-small-vertical*2 0;
  }
}

.loop-index .panel-title {
/*  display: inline;
  font-size: ceil(($font-size-base * 2.3));
  font-family: 'Proxima Nova';
  position: absolute;
  bottom: 4px;*/
}

#new-loop {
  display: block;
  margin-left: auto;
}


/*************** VERSE COMPOSER PLAYHEAD ******************/

#measures-list {
  position: relative;
}

#playhead {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $panel-body-padding;
  right: 0;
  z-index: -1;

  display: -webkit-flex;
  display: -flex;
}

@-webkit-keyframes verse-time-slice-highlight {
  0%   { background-color: $gray-lighter; }
  100% { background-color: transparent; }
}

@keyframes verse-time-slice-highlight {
  0%   { background-color: $gray-lighter; }
  100% { background-color: transparent; }
}


/*************** title buttons ************/

#Dianthus-Views-VerseForm {
  .loop > .btn:first-child, .measure-loop > .btn:first-child {
    border-right: 0;
  }
  .loop-title, .loop-title + .btn, .measure-loop-title, .dropdown-toggle {
    border-left: 0;
  }
  .loop > .btn:hover,
  .measure-loop > .btn:hover {
    border-color: $btn-default-bg;
  }
}

.modal-dialog {
  color: $text-color; /* weird darkly / bootswatch oversight? */
}

#new-session .modal-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#new-session .modal-footer:before, #new-session .modal-footer:after {
  content: none;
};

/***** Gross placeholder user show ****/

#home {
  height: 100%;
}

#home {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  
  -webkit-align-items: flex-start;
  align-items: flex-start;

  -webkit-justify-content: space-between;
  justify-content: space-between;

  margin-left: $panel-body-padding;
  margin-right: $panel-body-padding;
}

#home .gravatar {
  -webkit-align-self: center;
  align-self: center;
}

#home li {
  margin-top: $panel-body-padding;
  margin-bottom: $panel-body-padding;;
}

#home ul {
  width: 200px;
  height: 100%;
  overflow-y: auto;
}