/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *  require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body { padding-top: 70px; }

html, body, .backdrop, .container, #composer, .time-slice {
  height: 100%;
}
#composer {
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  -webkit-flex-direction: row;
}

.time-slice {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-flex-grow: 1;
  flex-grow: 1;

  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;

  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes time-slice-highlight {
  0%   { background-color: transparent; }
  20%  { background-color: yellow; }
  100% { background-color: transparent; }
}

@keyframes time-slice-highlight {
  0%   { background-color: transparent; }
  20%  { background-color: yellow; }
  100% { background-color: transparent; }
}

.note {
  width: 100%;
  padding: 3px;
  background-clip: content-box;
  background-color: #eee;
  border-radius: 9px;
}
.note-do, .note-so {
  -webkit-flex-grow: 1.618;
  flex-grow: 1.618;
}
.note-mi, .note-ti {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.note-re, .note-fa, .note-la {
  -webkit-flex-grow: 0.618;
  flex-grow: 0.618;
}
[data-velocity="127"] {
  background-color: red;
}
[data-continued="true"] {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[data-continues="true"] {
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}