/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *  require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body { padding-top: 70px; }

html, body, .backdrop, .container, #composer, .time-interval {
  height: 100%;
}
#composer {
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  -webkit-flex-direction: row;
}
.time-interval {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.note {
  width: 100%;
  padding: 3px;
  background-clip: content-box;
  background-color: #eee;
  border-radius: 9px;
}
[data-note="do"], [data-note="so"] {
  -webkit-flex-grow: 1.618;
  flex-grow: 1.618;
}
[data-note="mi"], [data-note="ti"] {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
[data-note="re"], [data-note="fa"], [data-note="la"] {
  -webkit-flex-grow: 0.618;
  flex-grow: 0.618;
}
[data-continued="true"] {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
[data-continues="true"] {
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}